{% extends "base.html" %}
{% block fonts %}
  <style>
  @font-face{
    font-family: 'Fira Code';
    src: local('Fira Code Medium'), local('Fira Code'),
    url('https://cdn.jsdelivr.net/npm/firacode@1.206.0/distr/eot/FiraCode-Medium.eot');
    src: url('https://cdn.jsdelivr.net/npm/firacode@1.206.0/distr/eot/FiraCode-Medium.eot') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/npm/firacode@1.206.0/distr/woff2/FiraCode-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/npm/firacode@1.206.0/distr/woff/FiraCode-Medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/npm/firacode@1.206.0/distr/ttf/FiraCode-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  </style>
  {% if font != false %}
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{
          font.text | replace(' ', '+')  + ':300,400,400i,700|'
        }}">
    <style>body,input{font-family:"{{ font.text }}","Helvetica Neue",Helvetica,Arial,sans-serif}code,kbd,pre{font-family:"{{ font.code }}","Courier New",Courier,monospace}</style>
  {% endif %}
{% endblock %}
